# Note:
#
# This workflow expects the calling project to have a
# rust-toolchain.toml file which specifies the necessary version of
# the toolchain, the necessary targets (matching those specified in
# the project's .cargo/config.toml), and at least the 'clippy' and
# 'rustfmt' toolchain components.
#
# Example:
#
# [toolchain]
# channel = "stable"
# targets = [ "wasm32-wasip1" ]
# profile = "default"

name: Common Test

on:
  workflow_call:
    secrets:
      gh_token:
        required: true
    inputs:
      runner_label:
        description: 'Label for the runner to be used for the jobs.'
        default: 'ubuntu-latest'
        required: false
        type: string

defaults:
  run:
    shell: bash

jobs:
  common-test:
    runs-on: ${{ inputs.runner_label }}
    steps:
      - name: Checkout repository contents
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup Rust toolchain with caching
        uses: actions-rust-lang/setup-rust-toolchain@v1

      - name: Install cargo-audit
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-audit, wasm-opt

      - name: Check
        run: RUSTFLAGS="--deny warnings" cargo check

      - name: Format
        run: cargo fmt -- --check

      - name: Clippy
        run: cargo clippy

      - name: Audit
        run: cargo audit

      - name: Build (using cargo)
        run: RUSTFLAGS="--deny warnings" cargo build --profile release

      - name: Install Fastly CLI
        uses: fastly/compute-actions/setup@v12
        with:
          token: ${{ secrets.github_token }}

      - name: Build (using CLI)
        uses: fastly/compute-actions/build@v12

      - name: Upload WASM package as an artifact
        uses: actions/upload-artifact@v5
        with:
          name: wasm-package
          path: bin/main.wasm
          if-no-files-found: error
          compression-level: 0
